* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #c2c2c2 30%, #692a85 100%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    background: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.3);
    text-align: center;
    justify-content: center;
}
h1 {
    color: #333;
    margin-bottom: 20px;
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.game-info {
    margin-bottom: 20px;
}
#status {
    font-size: 1.5rem;
    color: #32343e;
    font-weight: bold;
}
.board {
    width: 310px;
    height: 310px;
    display: grid;
    grid-template-columns: repeat(3, 5fr);
    grid-template-rows: repeat(3, 5fr);
    gap: 10px;
}
.cell {
    background: #f8f9fa;
    border: 3px solid #667eea;
    border-radius: 10px;
    transition: all 1s ease;
    font-size: 4rem;
    color: black;
}
.cell:hover {
    background: #cfcfcf;
    transform: scale(1.02);
}
#resetBtn {
    background: linear-gradient(135deg, #000000 0%, #200e32 100%);
    color: white;
    border: none;
    padding: 8px .6rem;
    margin-top:10px;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.4s ease;
    box-shadow: 0 5px 15px rgba(102, 126, 234, 0.4);
}

#resetBtn:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(62, 62, 62, 0.6);
}

#newBtn{
    background-color: #000000;
    color:white;
    border: none;
    padding:8px .7rem;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing:1px;
    text-transform: uppercase;
    border-radius:5px;
    box-shadow:0 6px 15px rgba(0, 0, 0, 0.4);
    transition: 0.4s ease;
}
#newBtn:hover{
    transform:translateY(-2px);
    box-shadow:0 8px 20px rgba(62, 62, 62, 0.6);
}
#winer{
    padding:9px .6rem;
    color:black;
    font-weight:bold;
}

@media (max-width: 480px) {
    .container {
        padding: 20px;
    }

    h1 {
        font-size: 2rem;
    }

    .board {
        grid-template-columns: repeat(3, 90px);
        grid-template-rows: repeat(3, 90px);
        gap: 8px;
    }

    .cell {
        font-size: 2.5rem;
    }

    #status {
        font-size: 1.2rem;
    }

    #resetBtn {
        padding: 12px 30px;
        font-size: 1rem;
    }
}

